.dashboard {
  display: flex;
}

.sidebar {
  width: 240px;
  background: #f8fafc;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.logout {
  color: red;
}

.main {
  flex: 1;
  background: linear-gradient(135deg, #6a5acd, #7b68ee);
  padding: 20px;
}

.navbar {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
}
.claims-table {
  width: 100%;
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  border-collapse: collapse;
}

.claims-table th,
.claims-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.approve {
  background: #16a34a;
  color: white;
  padding: 6px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reject {
  background: #dc2626;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.status.pending {
  color: orange;
  font-weight: bold;
}

.status.approved {
  color: green;
  font-weight: bold;
}

.status.rejected {
  color: red;
  font-weight: bold;
}
